@version:3.5
source local_sys {
    system();
    internal();
    # udp(ip(0.0.0.0) port(514));
};


destination master_syslog {network("{{ SYSLOG_SERVER }}" port(514))}

# Log to syslog server the stuff we want
log { source(local_sys); filter(f_default); destination(master_syslog); };
log { source(local_sys); filter(f_auth); destination(master_syslog); };


# Source additional configuration files (.conf extension only)
@include "/etc/syslog-ng/conf.d/*.conf"


# vim:ft=syslog-ng:ai:si:ts=4:sw=4:et:
